
<div class = "row">
<div class="col-md-4 col-md-offset-4">

		<h3> <%= @location.name %> </h3>

		<p>
			

			<%  if (user_signed_in? &&(current_user.id == @location.user_id)) %>
				

				 <%= link_to "Edit", (@location) %>
				 <%= link_to "Delete", location_path(@location), method: :delete,
				data: {confirm: 'Are you sure?'} %>

			<% end %>

		</p>


		<div>
			<hr>
			<%= render @location.recordings %>




			<%= render 'recordings/form'  %>

		</div>
	</div>
</div>